.btncontain{
  display: flex;
  justify-content: center;
flex-wrap: wrap;
 margin-top: 20px;
}

.btn{
  width:60px;
  height: 50px;
  margin: 3px;
  border-radius: 30%;
  border: 5px solid black;
 background-color: black;
 color: white;
 font-size: large;
 font-weight: 900;
 box-shadow: -40px -40px 60px rgba(255, 255, 255, 0.1), 25px 25px 60px rgba(0, 0, 0, 0.2)


}